@using KriptoGuvercini.Models
@using KriptoGuvercini.src
@using Microsoft.Ajax.Utilities
@using Microsoft.AspNet.Identity
@model KriptoGuvercini.Models.ManageUserViewModel


@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    if (CultureHelper.GetCurrentCulture() == "tr-TR")
    {
        <hr />
        <div>
            <center style="padding-top: 10px">Eski Şifre: @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" }) </center> @Html.ValidationMessageFor(m=>m.OldPassword)
            <center style="padding-top:10px">Yeni Şifre: @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })</center> @Html.ValidationMessageFor(m => m.NewPassword)
            <center style="padding-top:10px;padding-right: 50px">Yeni Şifre Tekrar: @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })</center> @Html.ValidationMessageFor(m => m.ConfirmPassword)

        </div>
        <br />
        <input type="submit" name="command" value="Sifre Degistir" />
        
        
    }
    else if (CultureHelper.GetCurrentCulture() == "en-US")
    {
        <hr />
        <div>
            <center style="padding-top: 10px">Old Password: @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" }) </center> @Html.ValidationMessageFor(m => m.OldPassword)
            <center style="padding-top:10px;padding-right: 5px">New Password: @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })</center> @Html.ValidationMessageFor(m => m.NewPassword)
            <center style="padding-top:10px;padding-right: 55px">Repeat New Password: @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })</center> @Html.ValidationMessageFor(m => m.ConfirmPassword)

        </div>
        <br />
        <input type="submit" name="command" value="Change Password" />
       
        
    }



}
